@charset "UTF-8";

body{
	margin:0;
	padding:0;
	background-color:#a3b70b; /*primary green colour*/
}

h1,h2,h3{
	font-family: 'Amatic SC', cursive;
	text-align: center;	
}

h1{
	font-size:60px;
}

h2{
	font-size: 40px;
}

h3,a{
	font-size:26px;
}

p{
	color:#444c00; /*dark green colour*/
	font-family: 'Roboto', sans-serif;
	line-height: 2;
	font-size:18px;
}

.copyright{
	font-size:10px;
	padding-top:20px;
}

/******************************************************************/

							/*HEADER*/

/******************************************************************/


header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color: #b5c337; /*lighter green colour*/
}

/*logo*/


.topLogo{
	display: inline-block;
	padding-top:5px;
}

/*toggle button*/

.toggle{
	margin-right:10px;
	padding:0;
	border:none;
	outline:none;
	background:none;
	font-size:28px;
	opacity:0.6;
	cursor:pointer;
}

/*Top Navigation Bar*/

header .topNav ul{
	margin:0;
	padding:0;
	list-style: none;
}

header .topNav a{
	display:block;
	padding:18px;
	color:white;
	font-size: 18px;
	text-decoration: none;
}

header .topNav a:hover{
	cursor:pointer;
	transition: 0.8s ease;
	background-color: #444c00;
}



/******************************************************************/

							/*MAIN*/

/******************************************************************/


.parallax {
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  	height:90vh;  
}

#parallax-top1{
	background-image: url("../img/image1.jpg");
}

#parallax-top2{
	background-image: url("../img/image2.jpg");	
}

#parallax-top3{
	background-image: url("../img/image3.jpg");	
}

#parallax-top4{
	background-image: url("../img/image4.jpg");	
}

#parallax-top5{
	background-image: url("../img/image5.jpg");	
}

#parallax-top6{
	background-image: url("../img/image6.jpg");	
}

#parallax-bottom{
	background-image: url("../img/image7.jpg");
	  height:50vh;	
}





.mainA, .mainB, .mainC, .mainD, .mainE, .mainF{
	margin-left: auto;
	margin-right:auto;
	max-width:1000px;
	padding-top:30px;
}

.mainA,.mainB,.mainC,.mainD, .mainE, .mainF{
	text-align: center;
	padding-bottom:80px;	
}



/*GALLERY FLEX BOX*/


.mainD .container{
	display:flex;
	flex-wrap:wrap;
	max-width:none;
	margin: 2px auto;
}

.mainD article{
	flex: 1 1 250px;
	display: flex;
}

.mainD a{
	position:relative;
	flex:1;
	margin:6px;
	display:block;
	text-decoration:none;
}

.mainD a:hover{
	opacity:0.8;
	transition:0.4s ease;
}
.mainD .photo{
	min-height:250px;
	background-position:center;
	background-size:cover;

}


.mainE .container-gallery {
		display:block;
		margin:0 auto;

}

.mainE .container-gallery img {
	width:25%;
	height:100%;
	margin:5px;
}

.mainE img {
	width:50%;
}

.mainE a:hover{
		opacity:0.8;
	transition:0.4s ease;
}



/******************************************************************/

							/*FOOTER*/

/******************************************************************/

footer{
	position:relative;
}

.footerA{
	width:100%;
	background-color: #3c342f; /*secondary black colour*/
	color:white;
}

.footerA .container{
	margin-left: auto;
	margin-right:auto;
	max-width:1000px;
	padding-top:30px;	
}

.footerA .container h2{
	text-align: left;
}

.footerA .container p{
	color: white;
}


@media only screen and (min-width: 768px) {
	
	header .top{
		display:flex;
		align-items:center;
		justify-content:space-between;
		max-width:1200px;
		margin-left: auto;
		margin-right:auto;
	}

	.topNav ul{
		display:flex;
	}

	.toggle{
		display:none;
	}

	.topNav {
		display:block !important;
	}
	
	.footerA .container{
		display:flex;
		flex-wrap:wrap;
	}

	.footA, .footB{
		flex: 0 0 50%;
	}

}

@media only screen and (max-width: 767px){


	.parallax{
		height:60vh;
	}
	.container{
		text-align: center;
		padding:12px;
	}

	.container-small{
		display:flex;
		align-items:center;
		justify-content:space-between;
	}
	
	.topNav{
		display:none;
		background-color: #a3b70b;
	}

	.topLogo{
		display:block;
		margin: 0 auto;
	}

	.footerA .container h2{
		text-align: center;
	}

	.mainE .container-gallery{
		display:flex;
		flex-wrap:wrap;
	}

	.mainE .container-gallery img{
	flex:1;
	width:50%;
	}

	.mainE img{
	flex:1;
	width:80%;
	}


}	

@media only screen and (min-width: 1000px){
	.mainD article{
		flex: 1 1 25%;
	}
}
